<!DOCTYPE html>
<html>
  <head>
    <title>About <%=promotionName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=promotionName%></h1>
    <p>
      We are the best white collar boxing promotion in the game. Providing great
      fight after great fight for over a decade, our track record speaks for
      itself. We're all about great fights and great entertainment. This is a
      platform aimed at boxing managers who want to sign their fighters up to
      our promotion.
    </p>
  </body>
</html>
