<!doctype html>
<html>
  <head>
    <title>Add Fighter to <%=promotionName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=promotionName%>: Add Fighter</h1>
    <form method="POST" action="/fighteradded">
        <p>Fighter First Name: <input id="forename" type="text" name="forename" value="" /></p>
        <p>Fighter Last Name: <input id="surname" type="text" name="surname" value="" /></p>
        <p>Fighter Age: <input id="age" type="number" name="age" min="1" max="99" step="1" value="" /></p>
        <p>Number of Fights: <input id="fights" type="number" name="fights" min="0" max="9999" step="1" value="" /></p>
        <p>Number of Wins: <input id="wins" type="number" name="wins" min="0" max="999" step="1" value="" /></p>
        <p>Number of Losses: <input id="losses" type="number" name="losses" min="0" max="999" step="1" value="" /></p>
        <p>Number of Draws: <input id="draws" type="number" name="draws" min="0" max="999" step="1" value="" /></p>
        <p>Fighter Weight (in lb)<input id="weight" type="number" name="weight" min="100" max="500" step="0.1" value="" /></p>
        <input type="submit" value="Add Fighter" />
      </form>
  </body>
</html>

