<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
  </head>
  <body>
    <h1>Forgot Password</h1>

    <% if (typeof message !== 'undefined' && message) { %>
    <p><%= message %></p>
    <% } %>

    <form method="POST" action="/requestResetPassword">
      <p>Email: <input type="email" name="email" required /></p>
      <input type="submit" value="Reset Password" />
    </form>
  </body>
</html>
