<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%= promotionName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container"></div>
    <h1>Welcome to <%= promotionName %></h1>
    <img src="/pictures/ringwalk.jpeg" alt="Boxing Ringwalk" class="responsive-image">
  </div>
  </body>
</html>
