<div class="navbar">
  <a href="/" class="active">Home</a>
  <a href="/about">About</a>
  <a href="/search">Search for fighters</a>
  <a href="/addfighter">Add a new fighter</a>
  <a href="/list">List of fighters</a>
  <a href="/listusers">List of users</a>
  <a href="/heavyweights">Heavyweights</a>
  <a href="/register">Register with us</a>
  <a href="/weather">Weather</a>
  <a href="/sportsbetting">Sports Betting</a>
  <a href="/api">API</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>
</div>
