<!doctype html>
<html>
  <head>
    <title>Search <%=promotionName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=promotionName%></h1>
    <form action="/search-result" method="GET">
      <p>Search our database of fighters!</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>